<body class="text-center">
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="grant_type" id="grant_type" class="form-control" placeholder="grant_type" required="" autofocus="" [(ngModel)]="user.grant_type" [ngModelOptions]="{standalone: true}">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submit(user)">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>
</body>

